<div class="component">
  <ng-container *ngIf="userType === 'GUEST'">
    <a routerLink="notifications"
      ><i class="fa fa-bell" aria-hidden="true"></i
    ></a>
    <a>Reservations</a>
    <a routerLink="account/1">Account</a>
  </ng-container>

  <ng-container *ngIf="userType === 'HOST'">
    <a style="font-size: larger; font-weight: 600">
      +
      <i class="fa fa-bed" aria-hidden="true"></i
    ></a>
    <a routerLink="notifications"
      ><i class="fa fa-bell" aria-hidden="true"></i
    ></a>
    <a>Requests</a>
    <a routerLink="account/1">Account</a>
  </ng-container>

  <ng-container *ngIf="!userType">
    <a routerLink="login">Sign in</a>
    <a routerLink="registration">Create an account</a>
  </ng-container>
</div>
