<div class="container">
  <img [src]="accommodation.photo" [alt]="accommodation.name" />

  <div class="details">
    <div class="header">
      <span class="name">{{ accommodation.name }}</span>
    </div>

    <div class="location">
      <span>{{ accommodation.address }}</span>
    </div>

    <div class="benefits">
      <span *ngFor="let benefit of accommodation.benefits">{{ benefit }} </span>
    </div>

    <div class="guest-capacity">
      <span
        ><i class="fa fa-users" aria-hidden="true"></i>
        {{ accommodation.minGuests }} - {{ accommodation.maxGuests }}</span
      >
    </div>

    <div class="price">
      <span
        >Price Type:
        <strong>{{ accommodation.priceType.replace("_", " ") }}</strong></span
      >
    </div>

    <div class="approval">
      <span
        >Request Approval:
        <strong>{{ accommodation.requestApproval }}</strong></span
      >
    </div>

    <button>Reserve</button>
  </div>
</div>
