<div class="container" *ngIf="accommodation$ | async as accommodation">
  <div class="card">
    <p-galleria
      [value]="accommodation.photos"
      [showIndicators]="true"
      [showThumbnails]="false"
      [containerStyle]="{ 'max-width': '800px' }"
      [showItemNavigators]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item" style="width: 100%; display: block" />
      </ng-template>
    </p-galleria>
  </div>

  <div class="details">
    <div class="header">
      <span class="name">{{ accommodation.name }}</span>
    </div>

    <div class="location">
      <span>
        {{ accommodation.address.city }}, {{ accommodation.address.street }}
        {{ accommodation.address.number }},
        {{ accommodation.address.country }}</span
      >
    </div>

    <div class="benefits">
      <span *ngFor="let benefit of accommodation.benefits">{{ benefit }} </span>
    </div>

    <div class="guest-capacity">
      <span
        ><i class="fa fa-users" aria-hidden="true"></i>
        {{ accommodation.minGuests }} - {{ accommodation.maxGuests }}</span
      >
    </div>

    <div class="price">
      <span
        >Price Type:
        <strong>{{ accommodation.priceType.replace("_", " ") }}</strong></span
      >
    </div>

    <div class="approval">
      <span
        >Request Approval:
        <strong>{{ accommodation.requestApproval }}</strong></span
      >
    </div>

    <button>Reserve</button>
  </div>
</div>

<ng-container *ngIf="!accommodationRatingsData">
  <h2 style="margin-left: 10rem">No current accommodation reviews</h2>
</ng-container>
<ng-container *ngIf="accommodationRatingsData">
  <app-star-rating
    [forType]="'accommodation'"
    [averageRating]="accommodationRatingsData.average"
    [ratings]="accommodationRatingsData.reviews"
  ></app-star-rating>
</ng-container>
<button class="rateButton" (click)="openAccommodationReviewDialog()">
  Rate accommodation
</button>

<ng-container *ngIf="!hostRatingsData">
  <h2 style="margin-left: 10rem">No current host reviews</h2>
</ng-container>
<ng-container *ngIf="hostRatingsData">
  <app-star-rating
    [forType]="'host'"
    [averageRating]="hostRatingsData.average"
    [ratings]="hostRatingsData.reviews"
  ></app-star-rating>
</ng-container>
<button class="rateButton" (click)="openHostReviewDialog()">Rate host</button>
