<div class="component">
  <h2>Pending requests</h2>

  <div *ngIf="loading" class="loading">
    <p>Loading requests...</p>
  </div>

  <div *ngIf="error" class="error-message">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="!loading && !error && requests.length === 0" class="no-data">
    <p>No pending reservation requests found.</p>
  </div>

  <table *ngIf="requests.length > 0" class="approval-table">
    <thead>
      <tr>
        <th>User</th>
        <th>Accommodation</th>
        <th>Number of Guests</th>
        <th>From</th>
        <th>To</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests">
        <td style="font-weight: 600">{{ getUserUsername(request.userId) }}</td>
        <td style="font-weight: 600">{{ request.accommodation.name }}</td>
        <td>{{ request.numGuests }} id:{{ request.id }}</td>
        <td>{{ request.startDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ request.endDate | date : "dd/MM/yyyy" }}</td>
        <td>
          <button class="approve" (click)="approveRequest(request)">
            Approve
          </button>
          <button class="decline" (click)="declineRequest(request)">
            Decline
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Approve / Decline</h2>
  <div *ngIf="respondedRequests.length === 0" class="no-data">
    <p>No Accepted or declined requests</p>
  </div>
  <table class="approved-table" *ngIf="respondedRequests.length > 0">
    <thead>
      <tr>
        <th>User</th>
        <th>Accommodation</th>
        <th>Number of Guests</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of respondedRequests">
        <td>{{ getUserUsername(request.userId) }}</td>
        <td>{{ request.accommodation.name }}</td>
        <td>{{ request.numGuests }}</td>
        <td>{{ request.startDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ request.endDate | date : "dd/MM/yyyy" }}</td>
        <td
          [ngClass]="{
            accepted: request.status == 'ACCEPTED',
            declined: request.status === 'DECLINED'
          }"
        >
          {{ request.status }}
        </td>
      </tr>
    </tbody>
  </table>
  <button class="blueButton" (click)="submitAllRequests()">Submit</button>
</div>
