<div class="star-rating-container">
  <div class="top">
    <h2>{{ forType === "accommodation" ? "Accommodation" : "Host" }} Rating</h2>
    <div class="average-rating">
      <p style="margin-right: 1rem">
        Average Rating: {{ averageRating.toFixed(1) }}/5
      </p>
      <div class="stars" style="margin-bottom: 10px">
        <span
          *ngFor="let star of getStarArray(averageRating)"
          class="star"
          [class.filled]="star"
          style="font-size: xx-large"
          >★</span
        >
      </div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rating of ratings">
        <td style="width: 600px">
          {{ getUserUsername(rating.reviewerId) }}
          <ng-container *ngIf="rating.reviewerId === loggedInUserId">
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
              "
            >
              <p
                class="edit"
                (click)="openAccommodationEditReviewDialog(rating.id)"
              >
                Edit
              </p>
              <p class="delete" (click)="deleteReview(rating.id)">Delete</p>
            </div>
          </ng-container>
        </td>
        <td>{{ rating.date }}</td>
        <td style="text-align: right">
          <div class="stars">
            <span
              *ngFor="let star of getStarArray(rating.review)"
              class="star"
              [class.filled]="star"
              >★</span
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
