<div class="star-rating-container">
  <div class="top">
    <h2>{{ forType === "accommodation" ? "Accommodation" : "User" }} Rating</h2>

    <div class="average-rating">
      <p style="margin-right: 1rem">
        Average Rating: {{ averageRating.toFixed(1) }}/5
      </p>
      <div class="stars" style="margin-bottom: 10px">
        <span
          *ngFor="let star of getStarArray(averageRating)"
          class="star"
          [class.filled]="star"
          style="font-size: xx-large"
          >★</span
        >
      </div>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rating of ratings">
        <td>{{ rating.username }}</td>
        <td>
          <div class="stars">
            <span
              *ngFor="let star of getStarArray(rating.rating)"
              class="star"
              [class.filled]="star"
              >★</span
            >
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
