<div class="component">
  <app-search></app-search>
  <ul class="accommodation-list">
    <li
      *ngFor="let accommodation of accommodations"
      class="accommodation-item"
      routerLink="/accommodation/{{ accommodation.id }}"
    >
      <img
        [src]="accommodation.photos[0]"
        [alt]="accommodation.name"
        class="accommodation-photo"
      />
      <div class="accommodation-info">
        <h3>{{ accommodation.name }}</h3>
        <p class="address">
          {{ accommodation.address.city }}, {{ accommodation.address.street }}
          {{ accommodation.address.number }},
          {{ accommodation.address.country }}
        </p>
        <ul class="benefits">
          <li *ngFor="let benefit of accommodation.benefits">
            {{ benefit.replace("_", " ") }}
          </li>
        </ul>
        <p class="price">
          Price:
          <strong>{{ accommodation.priceType.replace("_", " ") }}</strong>
        </p>
      </div>
    </li>
  </ul>
</div>
