.component {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.availability-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.availability-table th,
.availability-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.save-btn {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.add-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.availability-form {
  background: #f8f9fa;
  padding: 15px;
  padding-bottom: 3rem;
  margin-top: 10px;
  border-radius: 5px;
}

.submit-btn {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
