<div class="component">
  <h2>Personal reservations</h2>
  <table class="reservations-table">
    <thead>
      <tr>
        <th>Accommodation</th>
        <th>From</th>
        <th>To</th>
        <th>Guests</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td style="font-weight: 600">
          <a
            [routerLink]="['../accommodation', reservation.accommodation.id]"
            class="accommodationName"
          >
            {{ reservation.accommodation.name }}
          </a>
        </td>
        <td>{{ reservation.startDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ reservation.endDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ reservation.numGuests }}</td>
        <td
          [ngClass]="{
            accepted: reservation.status === 'ACCEPTED',
            declined: reservation.status === 'DECLINED',
            pending: reservation.status === 'PENDING'
          }"
        >
          {{ formatStatus(reservation.status) }}
        </td>
        <td>
          <button
            *ngIf="
              reservation.status === 'PENDING' ||
              reservation.status === 'ACCEPTED'
            "
            (click)="cancelReservation(reservation)"
          >
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
