<div class="component">
  <h2>Personal reservations</h2>
  <table class="reservations-table">
    <thead>
      <tr>
        <th>Accommodation</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td style="font-weight: 600">{{ reservation.accommodation.name }}</td>
        <td>{{ reservation.from | date : "dd/MM/yyyy" }}</td>
        <td>{{ reservation.to | date : "dd/MM/yyyy" }}</td>
        <td
          [ngClass]="{
            accepted: reservation.status === 'Accepted',
            declined: reservation.status === 'Declined',
            pending: reservation.status === 'Pending'
          }"
        >
          {{ reservation.status }}
        </td>
        <td>
          <button
            *ngIf="
              reservation.status === 'Pending' ||
              reservation.status === 'Accepted'
            "
            (click)="cancelReservation(reservation)"
          >
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
